/* Custom page header */
.header {
    padding-bottom: 2rem;
    margin-bottom: 2rem;
    border-bottom: .05rem solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 3rem;
}